body {
  background: url('img/fundo.jpg');
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
    width: 90%;
    max-width: 900px;
    aspect-ratio: 256 / 240;
    image-rendering: pixelated;
  height: auto;

  border: 4px solid #000000;
  margin-top: 20px;

  image-rendering: pixelated;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ffffff;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #000000;
}
#gameList {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.game {
  cursor: pointer;
  transition: 0.3s;
}

.game img {
  width: 150px;
  border-radius: 10px;
}

.game:hover {
  transform: scale(1.1);
}
#playerUI {
  margin-top: 20px;
}

#playerUI button {
  padding: 10px 20px;
  background: #0ea5e9;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

#playerUI button:hover {
  background: #0284c7;
}

canvas {
  width: 90%;
  max-width: 900px;
  aspect-ratio: 256 / 240;

  border: 4px solid #22c55e;
  border-radius: 12px;

  box-shadow: 0 0 30px rgba(34, 197, 94, 0.5);

  image-rendering: pixelated;
}
#saveUI {
  margin-top: 15px;
}

#saveUI button {
  margin: 5px;
  padding: 10px;
  background: #facc15;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#saveUI button:hover {
  background: #eab308;
}
