body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: url('img/fundo.jpg') no-repeat center center fixed;
  background-size: cover;

  color: white;
  text-align: center;
}

/* TÍTULO */
h1 {
  margin-top: 20px;
}

/* CATÁLOGO */
#gameList {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.game {
  cursor: pointer;
  transition: 0.3s;
}

.game img {
  width: 150px;
  border-radius: 10px;
}

.game:hover {
  transform: scale(1.1);
}

/* PLAYER CENTRALIZADO */
#player {
  margin-top: 30px;
}

/* CANVAS (AGORA ÚNICO) */
canvas {
  width: 768px;
  height: 720px;
  aspect-ratio: 256 / 240;

  border: 4px solid #22c55e;
  border-radius: 12px;

  box-shadow: 0 0 30px rgba(34, 197, 94, 0.5);

  image-rendering: pixelated;
}

/* CONTROLES */
#controls {
  margin-top: 15px;
}

#controls button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* BOTÕES ESPECÍFICOS */
#controls button:nth-child(1) {
  background: #0ea5e9;
  color: white;
}

#controls button:nth-child(2) {
  background: #facc15;
}

#controls button:nth-child(3) {
  background: #22c55e;
}

/* UPLOAD */
#romInput {
  margin-top: 20px;
}